$color-primary = #1A7043
$color-secondary = #AD5713

$color-darker = #181818
$color-dark = #222222
$color-text = #ebebeba3

$color-success = $color-primary
$color-danger = #6B1515

$color-success-background = #2C4334
$color-warning-background = #3F3831
$color-danger-background = #3A1F23

$color-success-text = #75E5B0
$color-warning-text = #E1AD70
$color-danger-text = #E2A4AB